name: CI
on:
  push:
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java: [ '8', '11', '17', '21' ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Setup sbt
        uses: sbt/setup-sbt@v1
      - name: Build and Test
        run: sbt -v headerCheckAll scalafmtCheckAll +test
